/* hide scroll bar */
::-webkit-scrollbar {
    width: 0; 
    background: transparent; 
}

body{
    background-color: #262626;
    font-family:Arial, Helvetica, sans-serif;
}
.topsection{
    padding-top: 1%;
    height: 20%;
    text-align: center;
}
.textsection{
    background-color: azure;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
}
.textboxLeft{
    padding-left: 1%;
    text-align: left;

}
.imagebox{
    text-align: left;
    padding-right: 5%;
    padding-left: 1%;
}
.topnav{
    border-color: #d4d4d4dc;
}