.Fcolor1{
    background-color: #4266155d;
}
.Fcolor2{
    background-color: #01597c50;
}
.Fcolor3{
    background-color: #cbc364a0;
}
.Fcolor4{
    background-color: #450e625b;
}
.Fcolor5{
    background-color: #50453fdb;
}
.Fcolor6{
    background-color: #79440261;
}
.Fcolor7{
    background-color: #7901017d;
}