body {
    background-image: url(../assets/backgrounds/waves.svg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: blanchedalmond;
}
.title{
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



/* TOP NAV */
.topnav {
    overflow: hidden;
    font-family: 'Common Pixel' !important;
    backdrop-filter: blur(15px);
    margin-top: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
    border-style: solid;
    border-width: 3px;
    border-color: #001f36dc;
    border-radius: 15px;
    height: 6rem;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #dacdcd21;}



/* POP UP */
.overlay_flight_traveldil {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* OVERLAY DIM OF THE BACKGROUND */
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay_flight_traveldil:target {
    visibility: visible;
    opacity: 1;
}
.popup_flight_travlDil {
    margin: 70px auto;
    padding: 20px;
    /* pop up color */
    background: rgb(39, 39, 39);

    border-radius: 15px;
    width: 65%;
    position: relative;
    transition: all 2s ease-in-out;
}
.popup_flight_travlDil .close_flight_travelDl {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    /* color of the X */
    color: rgb(169, 169, 169);
}
.popup_flight_travlDil .content_flightht_travel_dil {
    max-height: 30%;
    overflow: auto;
}
.image{
    height: 10rem;
}